.btn--primary {
    border-radius: 25px;
    background: rgba(83, 86, 255, 1);
  
    color: #f2e0dd;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .btn--primary:hover {
    background: rgb(71, 74, 214);
  }
  
  .btn--primary:active {
    background: rgba(83, 86, 255, 1);
  }
  
  .btn--secondary {
    border-radius: 25px;
    background: #000000;
  
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .btn--secondary:hover {
    background: #1a1a1a;
  }
  
  .btn--secondary:active {
    background: #000;
  }
  
  .full-width {
    flex: 1;
  }
  
  .btn--outline {
    border-radius: 25px;
    border: 4px solid rgba(83, 86, 255, 1);
  
    color: rgba(83, 86, 255, 1);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px;
  
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .btn--outline:hover {
    color: #ffff;
    background: linear-gradient(0deg, rgba(83, 86, 255, 1) 0%, rgba(83, 86, 255, 1)0 100%), rgba(83, 86, 255, 1);
  }
  