.register {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100vh;
  background-color: rgba(223, 245, 255, 1);
}

.register__content {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  max-width: 1440px;
}

.register__left-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.register__right-section {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 90px;
}


.register__logo {
  z-index: 1;
  margin-left: -50px;
  margin-top: 103px;
}

.register__bg {
  object-fit: contain;
  margin-top: -60px; 
}


.register__dialog-container {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .register__content {
    flex-direction: column;
  } 
  .register__logo {
    margin-left: 5px;
  }
  .register__left-section {
    margin: 20px;
  }
  .register__bg {
    display: none;
  }
  .register__right-section {
    display: flex;
  }
}
