.calendarContainer {
  max-width: 800px;
  margin: auto;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(234, 234, 234, 1);
  padding: 0px 5px;
  margin-bottom: 10px;
}

.calendarContainer .react-calendar {
  width: 100%;
  border: none;
}

.calendarContainer .react-calendar__tile--now {
  background: #ffeb3b;
}

.calendarContainer .react-calendar__tile--active {
  background: #4caf50;
  color: white;
}

.popupCalendar {
  position: absolute;
  top: 20px; /* Sesuaikan dengan posisi yang diinginkan */
  left: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 8px;
  padding: 10px;
}
