.quantity {
    border-width: 2px;
    border-radius: 5px;    
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
}

.left__title, .right__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left; 
    margin-bottom: 10px;   
}
