.input-field {
  display: flex;
  flex-direction: column;
}
.input-field__label {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.input-field__input {
  border-radius: 6px;
  border: 0.6px solid rgba(151, 151, 151, 0.2);
  background: #fff;
  padding: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: rgba(151, 151, 151, 0.2);
  width: 100%;
}
.input-field__textarea {
  border-radius: 6px;
  border: 0.6px solid #282828;
  background: #fff;
  height: 100%;
  padding: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.full-width {
  flex: 1;
}

.input-field__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-field__toggle {
  position: absolute;
  right: 18px;
  cursor: pointer;
  user-select: none;
}
