.dialog-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
}


.dialog-content__title-text {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.dialog-content__other-options {
  display: flex;
  justify-content: end;
}

.dialog-content__forgot-password {
  color: #4d4d4d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}

.dialog-content__submit-btn {
  display: flex;
  margin: 40px 100px 40px 100px;
}

.dialog-content__redirect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 100%;
  margin-top: -25px;
}

.dialog-content__redirect-text {
  color: #7d7d7d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.dialog-content__redirect-link {
  color: rgba(83, 86, 255, 1);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.modal-dialog {
  margin: 30px 40px;
}

.modal-dialog__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.modal-dialog__title {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-dialog__drag-drop {
  border-radius: 6px;
  border: 1px solid #808080;
  background: rgba(217, 217, 217, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  color: #7a7a7a;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-dialog__content-text {
  color: #a62110;
  font-family: Poppins;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  text-wrap: wrap;
}
