.comparration {
    border-width: 2px;
    border-radius: 5px;    
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
}

.comparration__title{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left; 
    margin-bottom: 10px;   
}

.calendar-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
