.dailytraffic{
    border-width: 2px;
    border-radius: 5px;    
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.dailytraffic__title{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left; 
    margin-bottom: 10px;   
}

.dailytraffic__icon {
    display: flex;
    align-items: center;
    gap: 15px; 
    font-size: small;
  }

.dailytraffic__icon .icon{
    font-size:x-large;
}