.navbar {
    height: 70px;
    flex-shrink: 0;
    background: rgba(223, 245, 255, 1);
    display: flex;
    color: #fff;
    width: 100vw;
    position: fixed;
    gap: 40px;
    z-index: 100;
  }
  .navbar__left-segment {
    display: flex;
    margin-left: 40px;
    margin-right: 20%;
    align-items: center;
    justify-content: flex-start;
    flex: none;
    gap: 120px;
  }
  .navbar__center-segment {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar__right-segment {
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20%;
    margin-right: 40px;
    position: relative;
    color: black;
  }
  .navbar__user-menu-popup {
    position: absolute;
    top: 55px;
    right: 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
  }
  .navbar__user-menu-popup-item {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .title {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1;
  }
  
  .avatar {
    object-fit: cover;
    cursor: pointer;
  }
  .tab-container {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .tab {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner-tab {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
    padding: 20px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  
  .inner-tab:hover {
    opacity: 1;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .selected {
    color: #fff;
    opacity: 1;
    background: rgba(255, 255, 255, 0.16);
  }
  
  .home_title {
    font-size: 32px;
    font-weight: 700;
    margin: auto;
  }